<div class="row text-center p-5">
    <div class="col-md-6">
        <h1 class="gris">Datos de contacto</h1>
    </div>
    <div class="col-md-6 gris">
        <a href="https://github.com/Olga-Soldado"><i class="fab fa-github fa-2x " style="color:#999" data-toggle="tooltip" data-placement="top" title="Te redirige a Github de Olga Soldado"></i></a>
        <a href="linkedin.com/in/olga-soldado-38606b209"><i class="fab fa-linkedin fa-2x" style="color:#999" data-toggle="tooltip" data-placement="top" title="Te redirige a pagina de Linkedin de Olga Soldado"></i></a>    
    </div>
</div>
