<div class="text-white text-end fondo">
            <h1 class="display-1 fw-bold">Ruby on Rails</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a mauris id purus <br>
                blandit dapibus. Nunc at enim et lacus porttitor tincidunt. Donec imperdiet <br>augue nec aliquet sagittis.</p>
            <br>
        </div>