<div class="row text-center">
    <div class="col-md-4 mt-5">
        <div class="card" >
            <%= image_tag 'img.png',class:'imgc'%>
            <h5 class="card-title ">Html-css</h5>
            <div class="card-body">
                <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <%=link_to 'Ver mas',"",class:'btn'%>
            </div>
        </div>
    </div>
    <div class="col-md-4 mt-5">
        <div class="card" >
            <%= image_tag 'img2.png',class:'imgc'%>
            <h5 class="card-title ">Uso de API</h5>
            <div class="card-body">
                <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary ">Ver mas</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mt-5">
        <div class="card" >
            <%= image_tag 'img3.png',class:'imgc'%>
            <h5 class="card-title ">Html-css</h5>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Ver mas</a>
            </div>
        </div>
    </div>
</div>