*{padding: 0%;
margin: 0%;
border: 0%;}
.imghome{
    width: 100px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    padding: 3%;
}
.gris{color: #999;}
.ver{
    background-color:#000;
    color:white;
    padding: 2%;
    text-decoration: none;
    border-radius: 5%;
}
.ver:hover{
    background-color: #999;
    padding: 3%;
}
.imgc{
    width: 100%;
    max-width: 350px;
    height: 300px;
    padding: 3%;
    display:block;
    margin:auto;
    text-align: center;
}

.fondo{
    background-image: url('../assets/hola.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}
.text{text-decoration: none;
color:#999;
text-transform: none;
transition: 0.25s ease;}

ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

ul li{
    text-decoration: none;
    margin: 0 0.75em 0 0.75em;
}

ul:hover .text{
    color:#999;
}
ul:hover .text:hover{
    color: white;
    size: 3rem;
    padding: 5%;
    box-shadow: 0 2px 0 0 currentColor;
}